:root{
    --primary: #2196F3;
    --primary-dark: #1976D2;
    --primary-light: #BBDEFB;
    --backgound: #fff;
    --color-text: #000;
    --raddi: 20px
}

*::-webkit-scrollbar {
    background-color: none;
    width: 10px;
    height: 8px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(156, 156, 156);
    border-radius: 10px;
}

.desktop{
    display: block;
}
.mobile{
    display: none;
}

@media (max-width: 768px){
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }
}